<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="AutoDependencyProperty.Fody" version="1.2.2.0" targetFramework="net45" developmentDependency="true" />
  <package id="Costura.Fody" version="1.6.2" targetFramework="net45" developmentDependency="true" />
  <package id="Fody" version="2.2.0" targetFramework="net45" developmentDependency="true" />
  <package id="NLog" version="4.4.12" targetFramework="net45" />
  <package id="NLog.Config" version="4.4.12" targetFramework="net45" />
  <package id="NLog.Schema" version="4.4.12" targetFramework="net45" />
  <package id="Unity" version="5.1.0" targetFramework="net45" />
</packages>